/* Estilos y clases genéricas */
body,html{
    margin: 0;
    padding: 0;
    font-family: @font-play;
    //font-size: 16px;
    background-color: @color-clear;
}
*:focus{ outline: none; }
h1,h2,h3,h4,h5,h6{
    color: @color-dark;
    text-transform: uppercase;
    font-weight: 500;
    font-family: @font-play;
}
hr{
    border: none;
    border-top: 1px solid @color-shade;
    margin: 10px 0 20px;
}
ul,ol{
    margin: 0;
    padding: 0;
}
a{
    transition: @transition;
    text-decoration: none;
    color: @color-dark;
}
a:hover,a:active{
    color: @color-theme-alt;
    text-decoration: none;
}
.button,button{
    padding: @padding-tn @padding-lg;
    text-transform: uppercase;
    text-align: center;
    background-color: transparent;
    border: 2px solid @color-dark;

    float: right;
    cursor: pointer;
    transition: @transition;

    color: @color-dark;
    font-weight: 600;
    letter-spacing: 2px;
}
button:hover,button:active,button:focus,
.button:hover,.button:active,.button:focus{
    color: @color-clear;
    background-color: @color-dark;
}
.button.primary,button.primary{
    background-color: @color-dark;
    color: @color-white;
}
button.primary:hover,button.primary:active,
button.primary:focus,.button.primary:hover,
.button.primary:active,.button.primary:focus{
    background-color: @color-theme;
}
.button.full-width,button.full-width{
    width: 100%;
    max-width: initial;
}
.button.inline,button.inline{ display: inline-block; }
.button.centered,button.centered{ margin: 0 auto; }

input[type="text"],input[type="email"],input[type="tel"],
input[type="password"],input[type="number"],input[type="search"],textarea{
    padding: @padding-tn @padding-sm;
    box-sizing: border-box;
    border-radius: 0;
    border: none;
    width: 100%;
    border: 1px solid @color-shade;
    background-color: @color-clear;
    transition: @transition;
    color: @color-gray;
    font-family: @font-play;
    letter-spacing: 1px;
}
textarea{
    min-height: @size-sm;
}
input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus,
input[type="tel"]:focus,input[type="number"]:focus,input[type="search"]:focus,textarea:focus{
    background-color: @color-white;
    border-color: @color-gray;
    color: @color-dark;
}
//ocultar textos en botones con icono
span.icon.no-text,a.icon.no-text,li.icon.no-text > a{ font-size: 0; color: transparent; }
//resaltar icono en botones sin texto
span.icon.no-text:before,a.icon.no-text:before,li.icon.no-text > a:before{
    color: @color-shade;
    font-size: 15px;
    display: block;
}
//icono
.button.icon:before,span.icon:before,a.icon:before, li.icon > a:before{
    content: '';
    font-family: @font-awesome;
    color: @color-gray;
    display: inline-block;
    margin-right: 6px;
}
.button.icon-cart:before,span.icon-cart:before,a.icon-cart:before,li.icon-cart > a:before{ content: '\f07a'; }
.button.icon-account:before,span.icon-account:before,a.icon-account:before,li.icon-account > a:before{ content: '\f007'; }
.button.icon-address:before,span.icon-address:before,a.icon-address:before,li.icon-address > a:before{ content: '\f041'; }
.button.icon-email:before,span.icon-email:before,a.icon-email:before,li.icon-email > a:before{ content: '\f003'; }
.button.icon-telephone:before,span.icon-telephone:before,a.icon-telephone:before,li.icon-telephone > a:before{ content: '\f10b'; }
.button.icon-whatsapp:before,span.icon-whatsapp:before,a.icon-whatsapp:before,li.icon-whatsapp > a:before{ content: '\f232'; }
.button.icon-telegram:before,span.icon-telegram:before,a.icon-telegram:before,li.icon-telegram > a:before{ content: '\f2c6'; }
.button.icon-facebook:before,span.icon-facebook:before,a.icon-facebook:before,li.icon-facebook > a:before{ content: '\f09a'; }
.button.icon-twitter:before,span.icon-twitter:before,a.icon-twitter:before,li.icon-twitter > a:before{ content: '\f099'; }
.button.icon-google:before,span.icon-google:before,a.icon-google:before,li.icon-google > a:before{ content: '\f0d5'; }
.button.icon-youtube:before,span.icon-youtube:before,a.icon-youtube:before,li.icon-youtube > a:before{ content: '\f16a'; }
.button.icon-pinterest:before,span.icon-pinterest:before,a.icon-pinterest:before,li.icon-pinterest > a:before{ content: '\f0d2'; }
.button.icon-linkedin:before,span.icon-linkedin:before,a.icon-linkedin:before,li.icon-linkedin > a:before{ content: '\f0e1'; }
.button.icon-instagram:before,span.icon-instagram:before,a.icon-instagram:before,li.icon-instagram > a:before{ content: '\f16d'; }
.button.icon-tumblr:before,span.icon-tumblr:before,a.icon-tumblr:before,li.icon-tumblr > a:before{ content: '\f174'; }

//listas de menús en general
ul.menu,ul.nav-menu{
    li.menu-item.inline{
        display: inline-block;
        vertical-align: top;
    }
    li.menu-item.inline:not(:first-child){ margin-left: @margin-tn; }
}

.widget ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.widget iframe{
    width: 100%;
    min-height: 300px;
}
::-webkit-input-placeholder {
   color: @color-gray;
   font-weight: 300;
   font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
   color: @color-gray;
   font-weight: 300;
   font-style: italic;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: @color-gray;
   font-weight: 300;
   font-style: italic;
}
:-ms-input-placeholder {  
   color: @color-gray;
   font-weight: 300;
   font-style: italic;
}
.clearfix{ clear: both; }

.text-center{ text-align: center; }
.text-justify{ text-align: justify; }
.text-left{ text-align: left; }
.text-right{ text-align: right; }

//padding
.container.pad-tn{ padding: @padding-tn 0; }
.container.pad-sm{ padding: @padding-sm 0; }
.container.pad-md{ padding: @padding-md 0; }
.container.pad-lg{ padding: @padding-lg 0; }
.container.pad-xl{ padding: @padding-xl 0; }
.container.pad-top-tn{ padding-top: @padding-tn; }
.container.pad-top-sm{ padding-top: @padding-sm; }
.container.pad-top-md{ padding-top: @padding-md; }
.container.pad-top-lg{ padding-top: @padding-lg; }
.container.pad-top-xl{ padding-top: @padding-xl; }
.container.pad-bot-tn{ padding-bottom: @padding-tn; }
.container.pad-bot-sm{ padding-bottom: @padding-sm; }
.container.pad-bot-md{ padding-bottom: @padding-md; }
.container.pad-bot-lg{ padding-bottom: @padding-lg; }
.container.pad-bot-xl{ padding-bottom: @padding-xl; }

//margin
.container.spa-tn{ margin: @margin-tn 0; }
.container.spa-sm{ margin: @margin-sm 0; }
.container.spa-md{ margin: @margin-md 0; }
.container.spa-lg{ margin: @margin-lg 0; }
.container.spa-xl{ margin: @margin-xl 0; }
.container.spa-top-tn{ margin-top: @margin-tn; }
.container.spa-top-sm{ margin-top: @margin-sm; }
.container.spa-top-md{ margin-top: @margin-md; }
.container.spa-top-lg{ margin-top: @margin-lg; }
.container.spa-top-xl{ margin-top: @margin-xl; }
.container.spa-bot-tn{ margin-bottom: @margin-tn; }
.container.spa-bot-sm{ margin-bottom: @margin-sm; }
.container.spa-bot-md{ margin-bottom: @margin-md; }
.container.spa-bot-lg{ margin-bottom: @margin-lg; }
.container.spa-bot-xl{ margin-bottom: @margin-xl; }


.container.border-top{ border-top: 1px solid @color-shade; }
.container.border-bottom{ border-bottom: 1px solid @color-shade; }
.container.white{ background-color: @color-white; }
.container.clear{ background-color: @color-clear; }
.container.shaded{ background-color: @color-shade; }
.container.gray{ background-color: @color-gray; color: @color-white; }
.container.dark{ background-color: @color-dark; color: @color-white; }
.container.black{ background-color: @color-black; color: @color-white; }




